@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any necessary global styles here */
body {
  margin: 0;
  font-family: sans-serif;
  /* Optional: Set a light background for the whole page */
  background-color: #f9fafb; 
}